//
//  Secrets.xcconfig
//  CineHarbor
//
//  Created by Milena on 02/04/25.
//

API_TOKEN = "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3Y2QzM2Y1N2NlMTczNGEzNmU4NmVkYjIzZWNlZjE1ZiIsIm5iZiI6MTcxMTA1MTgzMi45NjgsInN1YiI6IjY1ZmM5NDM4NjA2MjBhMDE3YzI3ZjE2OCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.aZuQg23-xoAw4ON0Uoqk9O6rSXaOsgjor7o5SAbj7N0"
